<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="text-center bg-dark hero-image">

    <!-- Server Name Head Line -->
    <div class="d-flex flex-row-reverse" style="margin-top: 0;">
        <div class="p-2 fts-logo">
        <img style="margin-right: 2rem; width: 100%;" src="img/FTS-logo.png" />
        </div>
    </div>
    
    <!-- First diagonal box -->
    <div class="diagonal-box" style="margin-top: var(--top-margin);"> 
        <!-- First diagonal content box -->
        <div class="diagonal-content">
        <h2 class="display-2 text-white fade show">
            Welcome
        </h2>
        <p class="lead text-white">
            ... to Fujiwara Tofu Shop, the home of touge racing in FiveM. 
            We are a community dedicated to grip racing on Inital D inspired touge tracks.
        </p>
        <p>
            <a href="#leaderboards" class="btn btn-lg btn-outline-light fw-bold border-black text-white">Leaderboards</a>
            <a href="#about" class="btn btn-lg btn-outline-light fw-bold border-black text-white">Learn more</a>
        </p>
        </div>
    
    </div>
    
    <!-- Second diagonal box -->
    <div class="diagonal-box background-one">
        <div class="diagonal-content text-center">
        <h2 class="display-2 text-white" id="leaderboards">
            Leaderboards
        </h2>
    
        <div class="card w-50 m-auto">
            <div class="card-body">
            <div class="button-group w-50 m-auto" data-left="4px">
                <button onClick="buttonClick('4px')">Timetrials</button>
                <button onClick="buttonClick('50%')">Custom Races</button>
            </div>
            </div>
            <ul class="list-group list-group-flush">
            <div class="score-card">
                <li class="list-group-item">
                <div class="leader">
                    <div class="user">
                    <div class="number">1</div>
                    <div class="user-pic"></div>
                    </div>
                    <div class="user-info">
                    <div class="user-name">sexy monke man</div>
                    <div class="view-count">3:42:314</div>
                    </div>
                    <div class="cols">
                    <p class="cols-item">Honda NSX Type R</p>
                    <p class="cols-item">AkinaD Downhill</p>
                    <p class="cols-item">23.01.2022</p>
                    </div>
                </div>
                </li>
                <li class="list-group-item">
                <div class="leader">
                    <div class="user">
                    <div class="number">2</div>
                    <div class="user-pic"></div>
                    </div>
                    <div class="user-info">
                    <div class="user-name">horny niklas guy</div>
                    <div class="view-count">4:16:805</div>
                    </div>
                    <div class="cols">
                    <p class="cols-item">Nissan Skyline R34</p>
                    <p class="cols-item">AkinaD Downhill</p>
                    <p class="cols-item">23.01.2022</p>
                    </div>
                </div>
                </li>
            </div>
            </ul>
    
            <div class="card-footer">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
    
        </div> <!-- Card end -->
        </div>
    </div>
    
    <!-- Third diagonal box -->
    <div class="diagonal-box background-two">
        <div class="diagonal-content text-center text-white">
        <h2 class="display-2" id="about">
            About the server
        </h2>
    
        <p class="lead">
            Our GTA 5 FiveM server is based on the famous anime "Initial D". Here you will find over 50 models of real JDM <br>and other cars, famous touge tracks (like Akina, Irohazaka, Usui, Tsuchisaka, Akagi, Myogi, Tsubaki and others), some drift maps, <br>an unforgettable experience and of course a friendly and fast growing community!
        </p>
        </div>
    </div>
    
    <div class="credits-box">
        <div class="p-2 text-white credits-box-inner">
        <p>
            Made with &#x2615; by arigata9 / 0xygen
        </p>
        </div>
    </div>

    <!-- preloader -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>
    
    <!-- Javascript stuff going on here... -->

    <script>
        "use strict";
        const setButtonLeftAttr = (value) => {
            const buttonGroup = document.querySelector('.button-group');
            buttonGroup.dataset.left = value;
        };
        const buttonClick = (value) => {
            setButtonLeftAttr(value);
        };
        //# sourceURL=pen.js
    </script>

    <script src="js/preloader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
</body>
</html>